name: Scheduled API Run

on:
  schedule:
  - cron: "35 18 * * *"  # Runs every day at 12:05 AM IST
  workflow_dispatch:

jobs:
  run_api:
    runs-on: ubuntu-latest

    steps:
      - name: Call the API
        id: call_api
        run: |
          echo "Calling DeskBooking API..."
          RESPONSE=$(curl -s -o response.json -w "%{http_code}" \
            -X POST "https://server.vizmo.in/vms/classes/DeskBooking" \
            -H "Content-Type: application/json" \
            -d '{"assignedTo":{"pointer":{"__type":"Pointer","className":"Employee","objectId":"1YQt8Opzyo3FVnJByHFa"},"name":"Abrar Ali","email":"abrar.ali@motherson.com","phone":"+918130512100"},"desk":{"name":"02F-012","pointer":{"__type":"Pointer","className":"Desk","objectId":"o4X3QJz7Kl13y9cgl6jw"},"floor":"Old Building Second Floor"},"createdBy":{"pointer":{"__type":"Pointer","className":"_User","objectId":"JYXOWUECUY1MxRLmzgpP"},"name":"Abrar Ali","email":"abrar.ali@motherson.com"},"recurrence":{"pattern":{"type":"day","interval":1},"range":{"type":"numbered","startDate":{"__type":"Date","iso":"2025-12-04T01:30:00.000Z"},"numberOfOccurrences":1,"endDate":null}},"duration":36000000,"company":{"__type":"Pointer","className":"Company","objectId":"ulebyVjJc8pmDA5hRGf9"},"location":{"__type":"Pointer","className":"Location","objectId":"DYz4X32VMbdNEBv0Pj7m"},"_ApplicationId":"kKf4XxPx8SyIEHPLozWfCIop6NiwdnlI","_JavaScriptKey":"ak7sfBa8TSutbD0aoYy51ILBrIB8l8mf","_ClientVersion":"js6.1.1-1","_InstallationId":"3ce8e041-a8af-4d10-8eb3-febfe1796e70","_SessionToken":"r:be322d13d568f9cb137fa8dbf58510c0"}')
          
          echo "API_RESPONSE=$RESPONSE" >> $GITHUB_ENV
          echo "Full response:"
          cat response.json

      - name: Upload API Response
        uses: actions/upload-artifact@v4
        with:
          name: api-response
          path: response.json
