name: Scheduled API Run

on:
  schedule:
    - cron: "30 11 * * *"   # Runs every day at 12:00 AM IST
  workflow_dispatch:

jobs:
  run_api:
    runs-on: ubuntu-latest

    steps:
      - name: Call the API
        id: call_api
        run: |
          echo "Calling DeskBooking API..."
          RESPONSE=$(curl -s -o response.json -w "%{http_code}" \
            -X POST "https://server.vizmo.in/vms/classes/DeskBooking" \
            -H "Content-Type: application/json" \
            -d '{"assignedTo":{"pointer":{"__type":"Pointer","className":"Employee","objectId":"cFDlAHR9WmxqgxRZhKsB"},"name":"Neeraj Goswami","email":"neeraj.goswami@motherson.com","phone":"+919899846293"},"desk":{"name":"02F-011","pointer":{"__type":"Pointer","className":"Desk","objectId":"XsCiF3ifyOI27lixhb37"},"floor":"Old Building Second Floor"},"createdBy":{"pointer":{"__type":"Pointer","className":"_User","objectId":"coQ1VsQ1in7Q23x3HIes"},"name":"Neeraj Goswami","email":"neeraj.goswami@motherson.com"},"recurrence":{"pattern":{"type":"day","interval":1},"range":{"type":"numbered","startDate":{"__type":"Date","iso":"2025-12-04T01:30:00.000Z"},"numberOfOccurrences":1,"endDate":null}},"duration":36000000,"company":{"__type":"Pointer","className":"Company","objectId":"ulebyVjJc8pmDA5hRGf9"},"location":{"__type":"Pointer","className":"Location","objectId":"DYz4X32VMbdNEBv0Pj7m"},"_ApplicationId":"kKf4XxPx8SyIEHPLozWfCIop6NiwdnlI","_JavaScriptKey":"ak7sfBa8TSutbD0aoYy51ILBrIB8l8mf","_ClientVersion":"js6.1.1-1","_InstallationId":"d01a040c-bc7f-4691-961f-6b1cec729612","_SessionToken":"r:1d012613d73a391defdbcd32432c3287"}')
          
          echo "API_RESPONSE=$RESPONSE" >> $GITHUB_ENV
          echo "Full response:"
          cat response.json

      - name: Upload API Response
        uses: actions/upload-artifact@v4
        with:
          name: api-response
          path: response.json
